footer .contact img {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}

footer .contact img:hover {
    transform: scale(1.08);
    filter: saturate(5.5);
    cursor: pointer;
}

footer {
    width: 80vw;
}

footer div {
    width: 100%;
}

.input {
    border: 2px solid inherit;
    background-color: inherit;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px gray;
    margin-bottom: 1rem;
    padding: 1rem;
    color: inherit;
    width: 25rem;
}

footer form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer .form {
    width: 50%;
}


footer input[type='submit'] {
    background-color: inherit;
    color: inherit;
 
    padding: 0.5rem 1rem;
    border: 2px solid rgb(117, 150, 234);
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
}
footer input[type='submit']:hover {
    background-color: F2AA4CFF;
    color: rgb(117, 150, 234);
    transform: scale(1.05);
    cursor: pointer;
}