.project:nth-child(odd) {
    flex-direction: row;
}

.project:nth-child(even) {
    flex-direction: row-reverse;
}

.project .image {
    
    background-repeat: no-repeat;
    background-size:cover;
    width: 35rem;
    height: 20rem;

    border-radius: 1rem;
}
.project .image.hover {
    opacity: 0.6;
    cursor: pointer;
}
.project {
    margin: 2rem;
    padding: 2rem;
}


.project .about p {
    padding-left: 2rem;
    padding-right: 2rem;

}
.project .about {
    width: 50%;
}
.project .image img {
    height: 90%;
    width: 90%;
    border: none;
}

.project .image div:hover {
    transform: scale(1.1);
    color: aqua;
    filter: saturate(5.5);
}
.project .image .icons {
    padding: auto;
    height: 60%;
    width: 25%;
}
@media screen and (max-width: 400px) {
    .projects .project {
        flex-direction: column;
    }
}